/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: white;
    height: 100vh;
    margin: 0;
}

.container {
    width: 300px;
    margin: auto;
    padding: 20px;
}

.welcome-message {
    text-align: center;
}

.password-container {
    position: relative;
}

/* Form Styles */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

button {
    width: 100%;
    background-color: #e50914; /* Natflix red */
    color: white;
    padding: 14px 20px;
}

/* Navbar Styles */
.navbar {
    background-color: #333;
    padding: 10px;
}

.navbar h1 {
    display: inline;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    color: #e50914; /* Natflix red */
    text-decoration: none;
}

/* Content Section Styles */
.content-section {
    margin-top: 20px;
}

.content-section h3 {
    margin-bottom: 10px;
}